/* NOLA'S CODE */

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

/* MY CODE */

/* body {
  background-image: url("https://unsplash.com/photos/poI7DelFiVA");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
} */

section {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff6e6e;
}

.navbar {
  font-family: "Nunito", sans-serif;
}

.text {
  padding: 40px;
  font-family: "Nunito", sans-serif;
  text-decoration-color: black;
  text-align: center;
  background-color: white;
}

#paragraph {
  font-family: "Nunito", sans-serif;
  text-decoration-color: black;
  width: 825px;
  height: 300px;
  text-align: justify;
  margin: 0 auto;
  background-color: white;
}

div {
  display: block;
}

.about-me {
  width: 100%;
  padding-bottom: 70px;
}

.about-me h2 {
  color: black;
  text-align: center;
}

.about-me .col-left, .about-me .col-right {
  width: 50%;
  float: left;
}

.about-me .col-left {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 100%;
}

/* .about-me .col-left {
  max-width: 100%;
} */

img {
  width: 30%;
  height: auto;
  border-radius: 50%;
}
