/* navbar */

html, body {
  margin: 0;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #ff6e6e;
}

.navbar {
  font-family: "Nunito", sans-serif;
  position: sticky;
  top: 0px;
}

.navbar #logo {
  font-family: "Courgette", cursive;
  float: left;
  padding-left: 100px;
  font-size: 17px;
}


/* text */

.text {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  text-decoration-color: black;
  text-align: center;
  background-color: white;
}

#paragraph {
  font-family: "Nunito", sans-serif;
  text-decoration-color: black;
  width: 825px;
  height: 100px;
  text-align: justify;
  margin: 0 auto;
  background-color: white;
  top: 50px;
}

#middle-padding {
  padding-bottom: 50px;
}

#bottom-padding {
  padding-bottom: 100px;
}

div {
  display: block;
}


/* "find" page */

/* section {
  margin: 0 auto;
}
#userInput {
  width: 80%;
  height: 50px;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
} */

button {
  background-color: #ff6e6e;
  /* border: none; */
  color: white;
  /* padding: 15px 27px; */
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 17px; */
  float: left;
  width: 20%;
  height: 45px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

/* button #submitter {
  width: 20%;
} */

button:hover {
  background-color: #DE6262;
}

#city_results {
  width: 200%;
}

#city {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  padding-left: 170px;
}

input {
  /* padding: 10px 15px; */
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
}

input::after {
  content: "";
  clear: both;
  display: table;
}

love {
  color: white;
  font-size: 25px;
}

section {
  font-size: 80px;
  margin: 30px;
}

* {
  box-sizing: border-box;
}

/* form.example input[type=text] {
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
} */

/* form.example button {
  float: left;
  width: 20%;
  height: 45px;
  padding: 10px;
  background: #ff6e6e;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
} */

/* form.example button:hover {
  background: #DE6262;
} */

/* form.example::after {
  content: "";
  clear: both;
  display: table;
} */

h5 {
  font-size: 25px;
  text-align: left;
}


/* "about us" page */

.about-us {
  width: 100%;
}

.about-us:after {
  content:'';
  display: block;
  clear: both;
}

.about-us h2 {
  color: black;
  text-align: center;
  position: relative;
}

.about-us h2:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  margin-left: -40px;
  left: 50%;
  bottom: 0px;
  background-color: black;
  top: 53px;
}

.about-us h4 {
  text-align: left;
  font-size: 20px;
  top: 0px;
}

.about-us .col-left, .about-us .col-right {
  width: 50%;
  float: left;
}

.about-us .col-left {
  max-width: 75%;
  max-height: 75%;
}

#about-us-img {
  padding-top: 30px;
  padding-left: 150px;
  max-width: 75%;
  max-height: 75%;
}

.about-us #about-us-p {
  left: 0px;
  right: 20px;
}

#about-us-p {
  font-family: "Nunito", sans-serif;
  font-size: 17px;
  text-decoration-color: black;
  width: 500px;
  height: 100px;
  text-align: justify;
  top: 50px;
  right: 150px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 400px 400px;
  grid-gap: 5px;
  background-color: white;
  padding: 0px;
  width: 100%;
  padding-top: 0px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 10px 0;
}


/* header images */

header > img {
  height: 450px;
  width: 100%;
  object-fit: cover;
}
